# Pycharm IDE
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pyenv virtualenv version
.python-version

# Environment variables
.env

# Media dir
!public/media/
public/media/*
!public/media/.gitkeep

# Static dir
!public/static/
public/static/*
!public/static/.gitkeep
